/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 5, 2017, 5:13:00 PM
    Author     : gursr02
*/
body{
    margin: 0px;
}
#headerlogo{
    height: 200px;
    margin-left: 18px;
    margin-top: -45px;
    margin-bottom: -16px;
}
#mainContainer{
    width: 71%;
    margin: 0 auto;
    background-color: grey;
}
#slides{
    height: 27%;
    margin-left: 10px;
}
.slide{
    background-color: white;
    float: left;
    height: 90%;
    width: 10.3%;
    margin: 0 5px;
    border: 3px solid white;
}
.arrow{
    float:left;
    cursor: pointer;
}
#rightArrow{
    margin-left: -29px;
    margin-top: 23px;
}
#leftArrow{
    margin-right: -29px;
    margin-top: 23px;
}
#leftArrowContainer{
    width: 8.78%;
    float: left;
    height: 100%;
}
#movieInfoDiv{
    background-color: #333333;
    width: 81%;
    height: 164px;
    margin: 0 auto;
    font-family: calibri;
}
#movieTypeInfoDiv{
    background-color: #333333;
    width: 81%;
    height: 49px;
    margin: 0 auto;
    font-family: calibri;
    color:white;
    padding-left: 41px;
    font-size: 17px;
}
#moviePostTrialerDiv{
    background-color: white;
    width: 81%;
    height: 300px;
    margin: 0 auto;
    font-family: calibri;
}
#movieTeamDetailsDiv{
    background-color: white;
    width: 81%;
    height: 130px;
    margin: 0 auto;
    font-family: calibri;
    padding-left: 13px;
}
#movieCommentsDiv{
    background-color: black;
    width: 81%;
    height: 300px;
    margin: 0 auto;
    font-family: calibri;
    color:white;
}
#moviePostCommentsDiv{
    background-color: white;
    width: 81%;
    height: 100px;
    margin: 0 auto;
    font-family: calibri;
    color:black;
}
#movieDisplayName{
    font-size: 47px;
    font-style: italic;
    margin-left: 36px;
    padding-top: 10px;
}
#movieNameDesc{
    float: left;
    width: 60%;
    color: white;
}
#movieDesc{
    margin-left: 36px;
}
#userRatingLabel,#authorRatingLabel{
    color: yellow;
    font-size: 29px;
    float: left;
}
#movieRating{
    padding-top: 15px;
}
.star_img{
    height: 35px;
    margin-top: -3px;
    float: left;
}

#userRating,#authorRating{
    color: white;
    font-size: 44px;
    float: left;
    margin-top: -15px;
    padding-left: 9px;
}
#userRatingStar,#authorRatingStar{
    float: left;
    padding-left: 6px;
}
#userRatingMaxValue,#authorRatingMaxValue{
    font-size: 17px;
    color: #A6ACAF;
}
#ratingSeperator{
    float: left;
    color: white;
    font-size: 52px;
    margin-top: -24px;
}
#rateThisDiv{
    float: left;
    width: 101px;
    color: white;
    font-size: 19px;
}
#ratethis{
    padding-left: 40px;
    margin-top: -8px;
    cursor: pointer;
}
#userHits{
    color: #A6ACAF;
    font-size: 12px;
    margin-top: -9px;
}
.left{
    float: left;
}
#authorRatingDiv{
    float: left;
    margin-top: 8px;
}
#movieCert{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #A6ACAF;
    padding-right: 6px;
}
#movieDuration,#movieType{
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #A6ACAF;
    padding-right: 6px;
    padding-left: 6px;
}
#movieRelease{
    padding-left: 6px;
}