<html>
    <head>
        <script src="/public/js/jquery3.1.js"></script>
        <script src="/public/js/angular.min.js"></script>
        <script src="/public/js/angular-route.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/css/rt_main.css">
        <title>Review Talkies</title>
    </head>
    <body ng-app="myApp">

        <div id="mainContainer">
            <div ng-include="'/public/html/headerlogo.html'"></div>
            <div ng-include="'/public/html/slides.html'"></div>
            <div ng-include="'/public/html/movieInfo.html'"></div>
        </div>
        <script>
            var app = angular.module("myApp", ["ngRoute"]);
        </script>

    </body>
</html>